<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DashBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E966EA391E2DADCE00754B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E966EA521E2DADCF00754B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E966EA5D1E2DADCF00754B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
