<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>22.6度</string>
		<key>roomname</key>
		<string>101号室</string>
		<key>username</key>
		<string>ニッセイ太郎さん</string>
		<key>userimage</key>
		<string>headman</string>
		<key>userage</key>
		<string>70</string>
		<key>usersex</key>
		<string>男性</string>
		<key>alerttype</key>
		<string>0</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>22.6度</string>
		<key>roomname</key>
		<string>102号室</string>
		<key>username</key>
		<string>ニッセイ次郎さん</string>
		<key>userimage</key>
		<string>headman</string>
		<key>userage</key>
		<string>68</string>
		<key>usersex</key>
		<string>男性</string>
		<key>alerttype</key>
		<string>0</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>19.6度</string>
		<key>roomname</key>
		<string>103号室</string>
		<key>username</key>
		<string>ニッセイ三郎さん</string>
		<key>userimage</key>
		<string>headman</string>
		<key>userage</key>
		<string>80</string>
		<key>usersex</key>
		<string>男性</string>
		<key>alerttype</key>
		<string>1</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>22.6度</string>
		<key>roomname</key>
		<string>104号室</string>
		<key>username</key>
		<string>ニッセイ花子さん</string>
		<key>userimage</key>
		<string>headwoman</string>
		<key>userage</key>
		<string>74</string>
		<key>usersex</key>
		<string>女性</string>
		<key>alerttype</key>
		<string>0</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>21.6度</string>
		<key>roomname</key>
		<string>105号室</string>
		<key>username</key>
		<string>ニッセイ小夜さん</string>
		<key>userimage</key>
		<string>headwoman</string>
		<key>userage</key>
		<string>80</string>
		<key>usersex</key>
		<string>女性</string>
		<key>alerttype</key>
		<string>0</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>24.6度</string>
		<key>roomname</key>
		<string>106号室</string>
		<key>username</key>
		<string>ニッセイ幸代さん</string>
		<key>userimage</key>
		<string>headwoman</string>
		<key>userage</key>
		<string>69</string>
		<key>usersex</key>
		<string>女性</string>
		<key>alerttype</key>
		<string>0</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>16.6度</string>
		<key>roomname</key>
		<string>107号室</string>
		<key>username</key>
		<string>ニッセイサンジさん</string>
		<key>userimage</key>
		<string>headman</string>
		<key>userage</key>
		<string>61</string>
		<key>usersex</key>
		<string>男性</string>
		<key>alerttype</key>
		<string>0</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>22.6度</string>
		<key>roomname</key>
		<string>108号室</string>
		<key>username</key>
		<string>ニッセイルフィさん</string>
		<key>userimage</key>
		<string>headman</string>
		<key>userage</key>
		<string>76</string>
		<key>usersex</key>
		<string>男性</string>
		<key>alerttype</key>
		<string>1</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>22.6度</string>
		<key>roomname</key>
		<string>109号室</string>
		<key>username</key>
		<string>ニッセイナミさん</string>
		<key>userimage</key>
		<string>headwoman</string>
		<key>userage</key>
		<string>55</string>
		<key>usersex</key>
		<string>女性</string>
		<key>alerttype</key>
		<string>0</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>22.6度</string>
		<key>roomname</key>
		<string>110号室</string>
		<key>username</key>
		<string>ニッセイチッパさん</string>
		<key>userimage</key>
		<string>headwoman</string>
		<key>userage</key>
		<string>72</string>
		<key>usersex</key>
		<string>女性</string>
		<key>alerttype</key>
		<string>1</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>21.6度</string>
		<key>roomname</key>
		<string>111号室</string>
		<key>username</key>
		<string>ニッセイロビンさん</string>
		<key>userimage</key>
		<string>headwoman</string>
		<key>userage</key>
		<string>64</string>
		<key>usersex</key>
		<string>女性</string>
		<key>alerttype</key>
		<string>0</string>
	</dict>
	<dict>
		<key>luminance</key>
		<string>明るい</string>
		<key>temperature</key>
		<string>22.1度</string>
		<key>roomname</key>
		<string>112号室</string>
		<key>username</key>
		<string>ニッセイゾロさん</string>
		<key>userimage</key>
		<string>headman</string>
		<key>userage</key>
		<string>99</string>
		<key>usersex</key>
		<string>男性</string>
		<key>alerttype</key>
		<string>1</string>
	</dict>
</array>
</plist>
